{% style %}
  form {
    margin-bottom: 5px !important;
  }
  .product__form__outer {
    margin-bottom: 0px !important;
  }
  .form-items {
    margin-top: 1.2em;
  }
  .swatch {
    max-width:30px;
    min-height:30px;
    border-radius: 50%;
    margin:0 auto;    
  }
  .unchecked{
    box-shadow:0 0 0 2px black;
  }
  .checked {
    box-shadow:0 0 0 4px blue;
  }
  .color-list {
    text-align: center;
  }
  .flex-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
  }
  .flex-grid .col {
    flex: 1 0 21%;
    flex-wrap: wrap
  }
  .flex-grid .col-2 {
    flex: 1 0 17%;
    flex-wrap: wrap
  }
{% endstyle %}
{% assign current_variant = product.selected_or_first_available_variant %}


{% if block.settings.info_page != blank %}
  {%- capture size_translation -%}{{ 'general.size_chart.size' | t }}{%- endcapture -%}
  {%- liquid
    assign size_chart_index = -1
    assign size_translation = size_translation | lstrip | rstrip | downcase
    for option in product.options
      assign option_san = option | lstrip | rstrip | downcase
      if option_san contains size_translation
        assign size_chart_index = forloop.index0
      endif
    endfor
    assign size_page = pages[block.settings.info_page] 

    assign action_style = 'product__info__link--inline'
    if size_chart_index == -1
      assign action_style = 'product__info__link'
    endif
  -%}
{% endif %}
{% capture size_chart %}
  {% if block.settings.info_page != blank %}
    <a href="{{ size_page.url }}" class="{{ action_style }}" data-popup-{{ block.id }}="size-{{ block.id }}">
      {{ size_page.title }}
    </a>
    <div class="modal micromodal-slide" id="size-{{ block.id }}" data-modal aria-hidden="true">
      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <button data-micromodal-close class="modal__close" aria-label="{{ 'general.accessibility.close' | t }}"></button>
        <div class="modal__container modal__container--inline"
          data-modal-content
          role="dialog"
          aria-modal="true"
          aria-label="{{ size_page.title }}">
          <div class="rte">{{ size_page.content }}</div>
        </div>
      </div>
    </div>
  {% endif %}
{% endcapture %}

  

<div class="product__form__outer {{ buybutton_class }}">

  
  {% form 'product', product, data-product-form: '', data-product-handle: product.handle, class: 'bong-form'  %}


  
    {% comment %} The input with name="id" submits to cart {% endcomment %} 
    <input class="mainProdId" type="hidden" name="id" value="{{ current_variant.id }}">

    {% comment %} Shop pay split payment terms {% endcomment %} 
    <div class="shop-pay-terms">
      {{ form | payment_terms }}
    </div>

    {% unless product.has_only_default_variant %}
      <div class="form__selectors">
        {% for option in product.options_with_values %}
          {%- if settings.swatches_enable -%}
            {% comment %} Determine if current option matches swatch handle translations {% endcomment %}
            {%- capture swatch_translation -%}{{ 'general.swatches.color' | t }} {%- endcapture -%}
            {%- assign translation_array = swatch_translation | append:',' | split: "," | uniq -%}
            {%- assign is_swatch_option = false -%}
            {%- assign option_handle = option.name | downcase | lstrip | rstrip | escape_once -%}
            {%- for translation in translation_array -%}
              {%- assign translation_handle = translation | downcase | lstrip | rstrip | escape_once -%}
              {%- if translation_handle == option_handle -%}
                {%- assign is_swatch_option = true -%}
                {% break %}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
          <div class="selector-wrapper js" data-split-select-wrapper data-select-label="{{ option.name }}"  data-option-position="{{ option.position }}">
            {%- if block.settings.variant_form == "button" or is_swatch_option -%}
              {% assign current_value = current_variant.options[forloop.index0] %}
              <fieldset class="radio__fieldset">
                <legend class="radio__legend">
                  <span class="radio__legend__label">{{ option.name | escape_once }}</span>
                  <span data-option-value>{{ current_value }}</span>
                  {%- if size_chart_index == forloop.index0 -%}
                    {{ size_chart }}
                  {%- endif -%}
                </legend>

              

                {% for value in option.values %}
                  {% capture input_id %}{{ product.id }}-{{ block.id }}-{{ option.name | escape_once }}-{{ value | escape_once }}{% endcapture %}

                  {%- if is_swatch_option -%}
                    <span class="swatch__button" data-tooltip="{{ value | escape_once }}">
                      <input type="radio"
                          name="options[{{ option.name | escape_once }}]"
                          value="{{ value | escape_once }}" 
                          id="{{ input_id }}"
                          {%- if value == current_value -%}checked{%- endif -%}>
                      <label for="{{ input_id }}" data-swatch="{{ value | escape_once }}">
                        <span class="visually-hidden">{{ value | escape_once }}</span>
                      </label>
                    </span>

                  {%- else -%}
                    {% comment %} radio button {% endcomment %}
                    <span class="radio__button">
                      <input
                        type="radio"
                        name="options[{{ option.name | escape_once }}]"
                        value="{{ value | escape_once }}" id="{{ input_id }}"
                        {%- if value == current_value -%}checked{%- endif -%}>
                      <label for="{{ input_id }}">
                        <span>{{ value | escape_once }}</span>
                      </label>
                    </span>
                  {%- endif -%}

                {% endfor %}
              </fieldset>
            {%- else -%}
              <fieldset class="select__fieldset">
                {% capture input_id %}{{product.id}}-option-{{ option.position }}{% endcapture %}
                <label class="select__label" for="{{ input_id }}">
                  {{ option.name }}
                </label>
                <select class="product__form__select"
                  id="{{ input_id }}"
                  name="options[{{ option.name | escape_once }}]">
                  {% for value in option.values %}
                    <option
                      value="{{ value | escape_once }}"
                      {% if option.selected_value == value %} selected="selected"{% endif %}>
                      {{ value | escape_once }}
                    </option>
                  {% endfor %}
                </select>
              </fieldset>
            {%- endif -%}
          </div>
        {% endfor %}
      </div>
    {% endunless %}

    <noscript>
      <select name="id" class="no-js" data-product-select aria-label="{{ product.options_with_values | map: 'name' | uniq | join: ', ' }}">
        {% for variant in product.variants %}
          <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
              {{ variant.title }}
          </option>
        {% endfor %}
      </select>
    </noscript>
   
    <p class="line-item-property\_\_field"> <label for="custom\_photo">Include artwork here (JPG or PNG)</label> 
      <input required class="required gc_img_upload" id="custom\_photo" type="file" name="properties[Photo]"/> 
    </p>
                                                                                                            
    {%- if product.selling_plan_groups.size > 0 -%}
      {% if block.settings.subscriptions_enable_selectors %}
        {% render 'subscription-form', product: product %}
      {%- endif -%}
      {% comment %} Delete the following line to block the theme from updating subscription prices {% endcomment %} 
      <span data-subscription-watch-price></span>
    {%- endif -%}

    {% if block.settings.show_quantity %}
      
      <div class="quantity__wrapper" data-quantity-selector style="display: inline-block; min-width: 120px">
        <span style="font-size:.9rem; font-weight:1.5rem;">QTY:</span>
        <input data-quantity-input
          aria-label="{{ 'cart.label.quantity' | t }}"
          class="quantity__input custom__qi change_price_func"
          type="number"
          min="{{ product.metafields.custom.plquant1 }}"
          max="10000000"
          size="8"
          pattern="[0-9]*"
          name="quantity"
          value="{{ product.metafields.custom.plquant1 }}"/>
      </div>
      <div class="price_per_unit" style="display: inline-block;">
        <span id="ppu_span">{{ current_variant.price | money }}</span>
        <span> Per Unit</span>
      
      </div>
    {% endif %}


    {%- if block.settings.show_remaining or size_chart_index == -1 -%}
    

        {%- if size_chart_index == -1 -%}
          {{ size_chart }}
        {%- endif -%}

        {%- if block.settings.show_remaining -%}
          {%- assign max_inventory = 10 -%}
          {%- assign show_remaining_class = '' -%}
          {%- assign current_inventory = 0 -%}

          {%- if current_variant.inventory_policy == 'deny' and current_variant.inventory_management -%}
            {%- if current_variant.inventory_quantity > 0 and current_variant.inventory_quantity <= max_inventory -%}
              {%- assign show_remaining_class = 'variant__countdown--show' -%}
              {%- assign current_inventory = current_variant.inventory_quantity -%}
            {%- endif -%}
          {%- endif -%}

          {% capture inventory %}
            <span data-remaining-max="{{ max_inventory }}" data-remaining-count>{{ current_inventory | default: 0 }} </span>
          {% endcapture %}

          <script data-product-remaining-json type="application/json">
            {
              {%- for variant in product.variants -%}
                {%- assign maximum = 11 -%}
                {%- assign quant = maximum | plus: 10 -%}
                {%- if variant.inventory_policy == 'deny' and variant.inventory_management -%}
                  {%- assign quant = variant.inventory_quantity | at_most: maximum -%}
                {%- endif -%}
                "{{ variant.id | json }}": "{{ quant | json }}"{%- unless forloop.last -%},{%- endunless -%}
              {%- endfor -%}
            }
          </script>

        {%- endif -%}

      </div>
    {%- endif -%}
    <div class="form-items">
    <fieldset style="border: 1px solid gray; padding: 1%; margin-bottom: 4%">
      <legend>Glass Color</legend>
      <div class="colors flex-grid">
    {% if product.tags contains 'colorpal1' %}
          <div class="color-list col">
            <label>
              <input checked class="color-radio" type="radio" name="properties[Glass Color]" value="Gold" style="opacity:0;">
              <div class="swatch checked" style="background-color:#FFD700;"></div> Gold
            </label>
          </div>
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass Color]" value="green" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#44c28d"></div> Green
            </label>
          </div> 
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass Color]" value="Smoke Black" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#3D3938"></div> Smoke Black
            </label>
          </div>
    {% endif %}
    {% if product.tags contains 'colorpal2' %}
          <div class="color-list col">
            <label>
              <input checked class="color-radio" type="radio" name="properties[Glass-Color]" value="Lake Green" style="opacity:0;">
              <div class="swatch checked" style="background-color:#D2DBB4"></div>Lake Green
            </label>
          </div>
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Jade Green A" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#5EFB6E"></div>Jade Green
            </label>
          </div>
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Jade Blue" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#99B8BC"></div>Jade Blue
            </label>
          </div>
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Light Blue" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#ADD8E6"></div>Light Blue
            </label>
          </div>
    {% endif %}
    {% if product.tags contains 'colorpal3' %}
          <div class="color-list col">
            <label>
              <input checked class="color-radio" type="radio" name="properties[Glass-Color]" value="Milky Pink" style="opacity:0;">
              <div class="swatch checked" style="background-color:#FFE8E9;"></div>Milky Pink
            </label>
          </div>
          <div class="color-list col2">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Red" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#FF0000"></div> Red
            </label>
          </div>
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Milky Green" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#c3c58c;"></div>Milky Green
            </label>
          </div> 
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Milky Purple" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#E6E6FA;"></div>Milky Purple
            </label>
          </div>     
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Jade Blue" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#99B8BC"></div>Jade Blue
            </label>
          </div>
    {% endif %}
    {% if product.tags contains 'colorpal4' %}
          <div class="color-list col">
            <label>
              <input checked class="color-radio" type="radio" name="properties[Glass-Color]" value="Pink" style="opacity:0;">
              <div class="swatch checked" style="background-color:#FFC0CB;"></div>Pink
            </label>
          </div>
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Lake Green" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#D2DBB4"></div>Lake Green
            </label>
          </div>
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Jade Blue" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#99B8BC"></div>Jade Blue
            </label>
          </div>
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Jade Green C" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#5EFB6E"></div>Jade Green
            </label>
          </div>
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Smoke Black" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#3D3938"></div>Smoke Black
            </label>
          </div>
    {% endif %}
    {% if product.tags contains 'colorpal5' %}
          <div class="color-list col">
            <label>
              <input checked class="color-radio" type="radio" name="properties[Glass-Color]" value="Pink" style="opacity:0;">
              <div class="swatch checked" style="background-color:#FFC0CB;"></div> Pink
            </label>
          </div>
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Black" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#000000"></div> Black
            </label>
          </div>
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Lake Green" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#D2DBB4"></div> Lake Green
            </label>
          </div>
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Blue" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#6e8cd5"></div> Blue
            </label>
          </div>
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Jade Blue" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#99B8BC"></div> Jade Blue
            </label>
          </div>
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="green" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#44c28d"></div> Green
            </label>
          </div> 
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Jade Green A" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#5EFB6E"></div> Jade Green
            </label>
          </div>
          <div class="color-list col">
            <label>
              <input class="color-radio" type="radio" name="properties[Glass-Color]" value="Smoke Black" style="opacity:0;">
              <div class="swatch unchecked" style="background-color:#3D3938"></div> Smoke Black
            </label>
          </div>
      {% endif %}
      </div> 
    </fieldset>
    </div>
    {% if product.tags contains 'mp-color' %}
      <div class="form-items">
        <input type="checkbox" class="change_price_func color-check" data-prod-id="{{ all_products['custom-bong-mouthpiece-bottom-color'].variants[0].id }}" value={{ all_products['custom-bong-mouthpiece-bottom-color'].variants[0].price}}>
        <span class="plush-bag-span"> Add Mouthpiece {% if product.tags contains 'mp-color' %}and Base {% endif %} Color (+ {{ all_products['custom-bong-mouthpiece-bottom-color'].variants[0].price | money }} each)</span></input>
      </div>
      <div class="hidden-color" style="display: none">
         <fieldset style="border: 1px solid gray; padding:0 1% 1% 1%; margin-bottom: 4%">
          <legend>Choose One</legend>
          <div class="colors flex-grid">
              <div class="color-list col2">
                <label>
                  <input class="color-radio2" type="radio" name="properties[MP/Base-Color]" value="Black" style="opacity:0;">
                  <div class="swatch unchecked" style="background-color:#000000"></div> Black
                </label>
              </div>
              <div class="color-list col2">
                <label>
                  <input class="color-radio2" type="radio" name="properties[MP/Base-Color]" value="Blue" style="opacity:0;">
                  <div class="swatch unchecked" style="background-color:#6e8cd5"></div> Blue
                </label>
              </div>
              <div class="color-list col2">
                <label>
                  <input class="color-radio2" type="radio" name="properties[MP/Base-Color]" value="Red" style="opacity:0;">
                  <div class="swatch unchecked" style="background-color:#FF0000"></div> Red
                </label>
              </div>
              <div class="color-list col2">
                <label>
                  <input class="color-radio2" type="radio" name="properties[MP/Base-Color]" value="green" style="opacity:0;">
                  <div class="swatch unchecked" style="background-color:#44c28d"></div> Green
                </label>
              </div> 
              <div class="color-list col2">
                <label>
                  <input class="color-radio2" type="radio" name="properties[MP/Base-Color]" value="White" style="opacity:0;">
                  <div class="swatch unchecked" style="background-color:#FFFFFF"></div> White
                </label>
              </div>
          </div> 
         </fieldset>
      </div>
    {% endif %}

  {% endform %}
   
   <div class="form-items">
      
      <input type="checkbox" class="change_price_func decal-check" data-prod-id="{{ all_products['custom-additional-decal'].variants[0].id }}" value={{ all_products['custom-additional-decal'].variants[0].price}}>
      <span class="decal-span" style="display: inline-block"> Add Additional Decal (+ {{ all_products['custom-additional-decal'].variants[0].price | money }} each)</span></input>
      <p style="display: inline-block; font-size: .85rem"> <span style="font-weight: bold">Note:</span> One decal/logo is included</p>
   </div>
        
      <div class="product__submit">
        <div data-product-add-popdown-wrapper class="product-add-popdown"></div>
        {% assign button_text = 'products.product.add_to_cart' | t %}
        {% if product.tags contains '_preorder' %}
          {% assign button_text =  'products.product.pre_order' | t %}
        {% endif %}
        {% unless current_variant.available %}
          {% assign button_text =  'products.product.sold_out' | t %}
        {% endunless %}
      
       <div class="product__submit__buttons" style="margin-top: 1.2em">
          <button
            name="add"
            class="btn--outline btn--full btn--primary uppercase btn--add-to-cart btn--custom-bong"
  
            {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            <span data-add-to-cart-text>
              {{ button_text }}
            </span>
            <span>•</span>
            <span id="dynamic_price_span" data-button-price>{{ current_variant.price | times: product.metafields.custom.plquant1  | money }}</span>
          </button>
  
          {% if buybutton_setting %}
            <div class="product__submit__quick">
              {{ form | payment_button }}
            </div> 
          {% endif %}
  
        </div>
    </div>

</div>

{% if product.tags contains 'mp-color' %}
  <script>
  $(document).on('change', '.color-radio2', function() {
  
    console.log('radio change')
  
    const isChecked = $(this).is(':checked');
    const others = $('.color-radio2').not(':checked')
    if(isChecked) {
      $(this).siblings().addClass('checked').removeClass('unchecked')
    }     
    if(others.siblings().hasClass('checked')) {
      others.siblings().removeClass('checked')
      others.siblings().addClass('unchecked')
    }  
  })
  
  $(document).on('change','.color-check', function() {
    
    const isChecked = $('.color-check').is(":checked");
    const radios = $('.color-radio2')
      
    if(isChecked) {
       $('.hidden-color').css("display", "block")  
      } else {
       $('.hidden-color').css("display", "none")  
       radios.removeAttr('checked')
       radios.prop("checked", false);
      if(radios.siblings().hasClass('checked')) {
        radios.siblings().removeClass('checked')
        radios.siblings().addClass('unchecked')
      }
    }  
  });
  </script>
{% endif %}

<script>

$(document).on('change', '.color-radio', function() {

  console.log('radio change')

  const isChecked = $(this).is(':checked');
  const others = $('.color-radio').not(':checked')


  if(isChecked) {
    $(this).siblings().addClass('checked').removeClass('unchecked')
  } 
    
  if(others.siblings().hasClass('checked')) {
    others.siblings().removeClass('checked')
    others.siblings().addClass('unchecked')
  }
  
})



$(document).on("change",".change_price_func", function(){
     
    const price_text = $("#dynamic_price_span");
    const per_unit_p = $("#ppu_span");
    const qi_input_val = parseInt($(".custom__qi").val());
    const colorCheck = $(".color-check").is(":checked");
    const colorPrice = colorCheck ? parseInt($(".color-check").attr("value")) : parseInt(0);
    const decalCheck = $(".decal-check").is(":checked");
    const decalPrice = decalCheck ? parseInt($(".decal-check").attr("value")) : parseInt(0);

    function priceBreak(floor, ceiling, price){
       if (qi_input_val >= floor && qi_input_val < ceiling){
        let tot_price = qi_input_val * (price + colorPrice + decalPrice) ;
        per_unit_p.html(Shopify.formatMoney(price, theme.strings.moneyFormat ));
        price_text.html(Shopify.formatMoney(tot_price, theme.strings.moneyFormat ));
      };
    };
    function highestQuant(floor, price){
      if (qi_input_val >= floor) {
        let tot_price = qi_input_val * (price + colorPrice + decalPrice);
        per_unit_p.html(Shopify.formatMoney(price, theme.strings.moneyFormat ));
        price_text.html(Shopify.formatMoney(tot_price, theme.strings.moneyFormat ));
      };
    };

     console.log(qi_input_val);

    let ptc1 = parseInt('{{ product.metafields.custom.plprice1 }}');
    let qtc1 = parseInt('{{ product.metafields.custom.plquant1 }}');
    let ptc2 = parseInt('{{ product.metafields.custom.plprice2 }}');
    let qtc2 = parseInt('{{ product.metafields.custom.plquant2 }}');
    let ptc3 = parseInt('{{ product.metafields.custom.plprice3 }}');
    let qtc3 = parseInt('{{ product.metafields.custom.plquant3 }}');

       priceBreak(qtc1, qtc2, ptc1);
       priceBreak(qtc2, qtc3, ptc2)
       highestQuant(qtc3, ptc3)

  })

</script>








